@{
    ViewBag.Title = "ProductCard";
}

@model WebShop.Models.ProductCardViewModel

<div class="container-fluid">
    <main>
        <div class="primary-layout">
            <div class="product-main-section">
                <header class="product-header d-md-none">
                    <h1 class="product-header__heading">@Model.ProductName</h1><span class="product-header__type">@Model.BrandName</span>
                </header>
                <div class="product-main-promo">
                    <div class="product-main-promo__main">
                        <div class="js-promo-main swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide"><a class="product-main-promo__img-wrap" href="@Url.Content("~/assets/images/content/product-main-promo-zoom-1.jpg")"><img class="product-main-promo__img img-responsive" src="@Url.Content("~/assets/images/content/product-main-promo-slider-" + Model.Image + ".jpg")" alt="Product" data-zoom="@Url.Content("~/assets/images/content/product-main-promo-zoom-" + Model.Image + ".jpg")"></a></div>
                            </div>
                        </div>
                        <div class="product-main-promo__pagination"></div>
                    </div>
                    <div class="product-main-promo__thumbs">
                        <div class="js-thumbs-list swiper-container">
                        </div>
                        <div class="product-main-promo__th-prev">
                            <svg class="icon icon-chevron-up product-main-promo__th-prev-icon">
                                <use href="~/assets/images/svg/symbol/sprite.svg#chevron-up"></use>
                            </svg>
                        </div>
                        <div class="product-main-promo__th-next">
                            <svg class="icon icon-chevron-down product-main-promo__th-next-icon">
                                <use href="~/assets/images/svg/symbol/sprite.svg#chevron-down"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="product-main-promo__zoom-pane"></div>
                </div>
                <div class="product-main">
                    <div class="row">
                        <div class="col-12 col-md-6 col-xl-8">
                            <header class="product-header d-none d-md-block">
                                <div class="product-header__heading">@Model.ProductName</div><span class="product-header__type">@Model.BrandName</span>
                            </header>
                            @*<div class="product-main__subhelpers">
                                <div class="product-header__brand"><a class="product-header__brand-link" href="@Model.BrandImage"><img class="product-header__brand-img" src="@Url.Content("~/assets/images/content/filtron.png")" alt="Brand"></a></div>
                            </div>*@
                            <div class="product-main__details">
                                <div class="product-main__params-wrap">
                                    <dl class="product-main__params">
                                        <dt class="product-main__property"><span>Артикул</span></dt>
                                        <dd class="product-main__value">@Model.Article</dd>

                                        <dt class="product-main__property"><span>Код</span></dt>
                                        <dd class="product-main__value">@Model.Code</dd>
                                    </dl>
                                </div>

                            </div>

                        </div>
                        <div class="col-12 col-md-6 col-xl-4">
                            <div class="product-main__aside">
                                <div class="product-main__prices">
                                    <div class="product-main__main-price">
                                        <div class="product-main__price-heading">Цена</div>
                                        <div class="product-main__main-price-value">@Model.Price лей</div>
                                    </div>
                                </div>
                                <div class="product-main__controls">
                                    <div class="product-main__control product-main__control--counter">
                                        <div class="counter">
                                            <button class="counter__btn counter--remove">-</button>
                                            <input class="counter__field" type="tel" name="quantity" readonly value="1">
                                            <button class="counter__btn counter--add">+</button>
                                        </div>
                                    </div>
                                    @if (Model.Quantity > 0)
                                    {
                                        <div class="product-main__control product-main__control--instock success">В наличии: <span>@Model.Quantity шт</span></div>
                                    }
                                    else
                                    {
                                        <div class="product-main__control product-main__control--instock fail"> Нет в наличии</div>
                                    }
                                </div>
                                @if (Model.Quantity > 0)
                                {
                                    <a class="product-main__buy btn btn--main"
                                       href="javascript:void(0);"
                                       onclick="addToBasketAjax(@Model.Code)">
                                        В корзину
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-features">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="card-feature">
                            <div class="card-feature__icon-wrap">
                                <svg class="icon icon-credit-card card-feature__icon">
                                    <use href="~/assets/images/svg/symbol/sprite.svg#credit-card"></use>
                                </svg>
                            </div>
                            <div class="card-feature__body">
                                <p class="card-feature__desc">Оплата наличными, а так же с помощью Visa или Mastercard</p>
                                <div class="card-feature__rows">
                                    <div class="card-feature__row"><img src="~/assets/images/general/visa.svg" width="30" height="15" alt="Visa"></div>
                                    <div class="card-feature__row"><img src="~/assets/images/general/master-card.svg" width="30" height="15" alt="Master Card"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="card-feature">
                            <div class="card-feature__icon-wrap">
                                <svg class="icon icon-delivery-truck card-feature__icon">
                                    <use href="~/assets/images/svg/symbol/sprite.svg#delivery-truck"></use>
                                </svg>
                            </div>
                            <div class="card-feature__body">
                                <p class="card-feature__desc">Доставка по Кишиневу и всей Молдове</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="card-feature">
                            <div class="card-feature__icon-wrap">
                                <svg class="icon icon-feature-support card-feature__icon">
                                    <use href="~/assets/images/svg/symbol/sprite.svg#feature-support"></use>
                                </svg>
                            </div>
                            <div class="card-feature__body">
                                <p class="card-feature__desc">Персональный консультант</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="primary-layout">
                <div class="tabs-section">
                    <div class="tabs">
                        <div class="tabs__header">
                            <ul class="tabs__list">
                                <li class="tabs__item"><a class="tabs__link" href="#section-1">Описание</a></li>
                            </ul>
                        </div>
                        <div class="tabs__panes">
                            <div class="tabs__tab-pane is-active is-opened">
                                <div class="tabs__accordeon-toggle">Описание</div>
                                <p> @Model.Description</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

@section scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            Array.prototype.slice.call(document.getElementsByName('quantity'))
                .forEach((el) => el.onchange = function () {
                    if (el.value > @Model.Quantity)
                        el.value = @Model.Quantity;
                });
        });
        function addToBasketAjax(productId) {
            const quantity = document.querySelector('.counter__field').value;

            $.ajax({
                url: '/BasketPayment/AddToBasket',
                method: 'POST',
                data: { productId: productId, quantity: quantity },
                success: function (response) {
                    alert('Товар добавлен в корзину');
                    // можно обновить корзину или показать всплывающее окно если потом будет время добавить
                },
                error: function () {
                    alert('Произошла ошибка при добавлении в корзину');
                }
            });
        }
    </script>
}