@using System.Globalization

@model WebShop.Domain.Product.ProductDTO

@{
    ViewBag.Title = "Редактировать продукт";
    Layout = "~/Views/Shared/_PersonalLayout.cshtml";

}
<div class="container-fluid">
    <div class="">
        @if (TempData["Message"] != null)
        {

            <div class="alert alert-success" role="alert" style="color:red">
                @TempData["Message"]
            </div>
        }

        <div class="primary-layout">
            <div class="product-main">
                <div class="tabs--full-body">
                    <div class="main-form_">
                        <header class="product-header">
                            <h1>Редактировать продукт</h1>
                        </header>
                        <div class="swiper-wrapper" style="width:180px; height:180px">
                            <div class="swiper-slide"><a class="product-main-promo__img-wrap" href="@Url.Content("~/assets/images/content/product-main-promo-zoom-1.jpg")"><img class="product-main-promo__img img-responsive" src="@Url.Content("~/assets/images/content/product-main-promo-slider-" + Model.ImageNumber + ".jpg")" alt="Product" data-zoom="@Url.Content("~/assets/images/content/product-main-promo-zoom-" + Model.ImageNumber + ".jpg")"></a></div>
                        </div>
                        @using (Html.BeginForm("ProductProfileEdit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Name, "Название продукта")
                                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Producer, "Бренд")
                                        @Html.TextBoxFor(m => m.Producer, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Article, "Артикул")
                                        @Html.TextBoxFor(m => m.Article, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Status, "Статус")
                                        @Html.DropDownListFor(m => m.Status, new SelectList(new[]
                                        {
                                            new SelectListItem { Value = "shown", Text = "Показан" },
                                            new SelectListItem { Value = "hidden", Text = "Скрыт" },
                                            new SelectListItem { Value = "bonus", Text = "Бонус" }
                                        }, "Value", "Text", Model.Status), new { @class = "form-control" })
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Price, "Цена")
                                        <input class="form-control" data-val="true" data-val-number="The field Price must be a number." 
                                               data-val-required="Требуется поле Price." 
                                               id="Price" name="Price" type="number" value="@Model.Price.ToString(CultureInfo.InvariantCulture)">

                                   @*     @Html.TextBoxFor(m => m.Price, new { @class = "form-control", type = "number", value = Model.Price.ToString(CultureInfo.InvariantCulture) })*@
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Quantity, "Количество")
                                        @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control", type = "number" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.Description, "Описание")
                                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = 4 })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.ImageNumber, "Номер изображения")
                                @Html.TextBoxFor(m => m.ImageNumber, new { @class = "form-control" })
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Сохранить изменения" class="btn--main btn" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
