
@{
    ViewBag.Title = "Card";
}

<div class="container-fluid">
    <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">Главная</a></li>
        <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">Автохимия</a></li>
        <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">Система топливная</a></li>
        <li class="breadcrumbs__item">Присадки к бензину</li>
    </ul>
    <main>
        <div class="primary-layout">
            <div class="product-main-section">
                <header class="product-header d-md-none">
                    <h1 class="product-header__heading">Фильтр масляный Filtron OP525</h1><span class="product-header__type">Filtron OP525</span>
                </header>
                <div class="product-main-promo">
                    <div class="product-main-promo__main">
                        <div class="js-promo-main swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide"><a class="product-main-promo__img-wrap" href="@Url.Content("~/assets/images/content/product-main-promo-zoom-1.jpg")"><img class="product-main-promo__img img-responsive" src="@Url.Content("~/assets/images/content/product-main-promo-slider-1.jpg")" alt="Product" data-zoom="@Url.Content("~/assets/images/content/product-main-promo-zoom-1.jpg")"></a></div>
                                <div class="swiper-slide"><a class="product-main-promo__img-wrap" href="@Url.Content("~/assets/images/content/product-main-promo-zoom-7.jpg")"><img class="product-main-promo__img img-responsive" src="@Url.Content("~/assets/images/content/product-main-promo-slider-7.jpg")" alt="Product" data-zoom="@Url.Content("~/assets/images/content/product-main-promo-zoom-7.jpg")"></a></div>
                                <div class="swiper-slide"><a class="product-main-promo__img-wrap" href="@Url.Content("~/assets/images/content/product-main-promo-zoom-6.jpg")"><img class="product-main-promo__img img-responsive" src="@Url.Content("~/assets/images/content/product-main-promo-slider-6.jpg")" alt="Product" data-zoom="@Url.Content("~/assets/images/content/product-main-promo-zoom-6.jpg")"></a></div>
                                <div class="swiper-slide"><a class="product-main-promo__img-wrap" href="@Url.Content("~/assets/images/content/product-main-promo-zoom-4.jpg")"><img class="product-main-promo__img img-responsive" src="@Url.Content("~/assets/images/content/product-main-promo-slider-4.jpg")" alt="Product" data-zoom="@Url.Content("~/assets/images/content/product-main-promo-zoom-4.jpg")"></a></div>
                                <div class="swiper-slide"><a class="product-main-promo__img-wrap" href="@Url.Content("~/assets/images/content/product-main-promo-zoom-5.jpg")"><img class="product-main-promo__img img-responsive" src="@Url.Content("~/assets/images/content/product-main-promo-slider-5.jpg")" alt="Product" data-zoom="@Url.Content("~/assets/images/content/product-main-promo-zoom-5.jpg")"></a></div>
                                <div class="swiper-slide"><a class="product-main-promo__img-wrap" href="@Url.Content("~/assets/images/content/product-main-promo-zoom-2.jpg")"><img class="product-main-promo__img img-responsive" src="@Url.Content("~/assets/images/content/product-main-promo-slider-2.jpg")" alt="Product" data-zoom="@Url.Content("~/assets/images/content/product-main-promo-zoom-2.jpg")"></a></div>
                                <div class="swiper-slide"><a class="product-main-promo__img-wrap" href="@Url.Content("~/assets/images/content/product-main-promo-zoom-3.jpg")"><img class="product-main-promo__img img-responsive" src="@Url.Content("~/assets/images/content/product-main-promo-slider-3.jpg")" alt="Product" data-zoom="@Url.Content("~/assets/images/content/product-main-promo-zoom-3.jpg")"></a></div>
                            </div>
                        </div>
                        <div class="product-main-promo__pagination"></div>
                    </div>
                    <div class="product-main-promo__thumbs">
                        <div class="js-thumbs-list swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide"><span class="product-main-promo__thumb"><img class="product-main-promo__thumb-img img-responsive" src="~/assets/images/content/product-main-promo-thumb-1.jpg" alt="Product Thumb"></span></div>
                                <div class="swiper-slide"><span class="product-main-promo__thumb"><img class="product-main-promo__thumb-img img-responsive" src="~/assets/images/content/product-main-promo-thumb-7.jpg" alt="Product Thumb"></span></div>
                                <div class="swiper-slide"><span class="product-main-promo__thumb"><img class="product-main-promo__thumb-img img-responsive" src="~/assets/images/content/product-main-promo-thumb-6.jpg" alt="Product Thumb"></span></div>
                                <div class="swiper-slide"><span class="product-main-promo__thumb"><img class="product-main-promo__thumb-img img-responsive" src="~/assets/images/content/product-main-promo-thumb-4.jpg" alt="Product Thumb"></span></div>
                                <div class="swiper-slide"><span class="product-main-promo__thumb"><img class="product-main-promo__thumb-img img-responsive" src="~/assets/images/content/product-main-promo-thumb-5.jpg" alt="Product Thumb"></span></div>
                                <div class="swiper-slide"><span class="product-main-promo__thumb"><img class="product-main-promo__thumb-img img-responsive" src="~/assets/images/content/product-main-promo-thumb-2.jpg" alt="Product Thumb"></span></div>
                                <div class="swiper-slide"><span class="product-main-promo__thumb"><img class="product-main-promo__thumb-img img-responsive" src="~/assets/images/content/product-main-promo-thumb-3.jpg" alt="Product Thumb"></span></div>
                            </div>
                        </div>
                        <div class="product-main-promo__th-prev">
                            <svg class="icon icon-chevron-up product-main-promo__th-prev-icon">
                                <use href="~/assets/images/svg/symbol/sprite.svg#chevron-up"></use>
                            </svg>
                        </div>
                        <div class="product-main-promo__th-next">
                            <svg class="icon icon-chevron-down product-main-promo__th-next-icon">
                                <use href="~/assets/images/svg/symbol/sprite.svg#chevron-down"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="product-main-promo__zoom-pane"></div>
                </div>
                <div class="product-main">
                    <div class="row">
                        <div class="col-12 col-md-6 col-xl-8">
                            <header class="product-header d-none d-md-block">
                                <div class="product-header__heading">Фильтр масляный Filtron OP525</div><span class="product-header__type">Filtron OP525</span>
                            </header>
                            <div class="product-main__subhelpers">
                                <div class="product-header__brand"><a class="product-header__brand-link" href="#"><img class="product-header__brand-img" src="@Url.Content("~/assets/images/content/filtron.png")" alt="Brand"></a></div>
                                @*<div class="product-main__subhelpers-links"><a class="product-main__subhelpers-link" href="#section-2">Спецификации <i class="fas fa-chevron-down"></i></a><a class="product-main__subhelpers-link" href="#section-1">Аналоги <i class="fas fa-chevron-down"></i></a></div>*@
                            </div>
                            <div class="product-main__details">
                                <div class="product-main__params-wrap">
                                    <dl class="product-main__params">
                                        <dt class="product-main__property"><span>Артикул</span></dt>
                                        <dd class="product-main__value">0P525</dd>

                                        <dt class="product-main__property"><span>Код</span></dt>
                                        <dd class="product-main__value">465907</dd>
                                    </dl>
                                </div>

                            </div>

                        </div>
                        <div class="col-12 col-md-6 col-xl-4">
                            <div class="product-main__aside">
                                <div class="product-main__prices">
                                    <div class="product-main__main-price">
                                        <div class="product-main__price-heading">Цена</div>
                                        <div class="product-main__main-price-value">1 325 лей</div>
                                    </div>
                                    @*<div class="product-main__retail-price">
                                            <div class="product-main__price-heading">Розница</div>
                                            <div class="product-main__retail-price-value">8 023 127 лей</div>
                                        </div>*@
                                </div>
                                <div class="product-main__controls">
                                    <div class="product-main__control product-main__control--counter">
                                        <div class="counter">
                                            <button class="counter__btn counter--remove">-</button>
                                            <input class="counter__field" type="tel" name="quantity" readonly value="1">
                                            <button class="counter__btn counter--add">+</button>
                                        </div>
                                    </div>
                                    <div class="product-main__control product-main__control--instock success">В наличии <span>374 шт.</span></div>
                                </div><a class="product-main__buy btn btn--main" href="#" data-modal-win-trigger="add" onclick="alert('Товар добавлен в корзину')">В корзину</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-features">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="card-feature">
                            <div class="card-feature__icon-wrap">
                                <svg class="icon icon-credit-card card-feature__icon">
                                    <use href="~/assets/images/svg/symbol/sprite.svg#credit-card"></use>
                                </svg>
                            </div>
                            <div class="card-feature__body">
                                <p class="card-feature__desc">Оплата наличными, а так же с помощью Visa или Mastercard</p>
                                <div class="card-feature__rows">
                                    <div class="card-feature__row"><img src="~/assets/images/general/visa.svg" width="30" height="15" alt="Visa"></div>
                                    <div class="card-feature__row"><img src="~/assets/images/general/master-card.svg" width="30" height="15" alt="Master Card"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="card-feature">
                            <div class="card-feature__icon-wrap">
                                <svg class="icon icon-delivery-truck card-feature__icon">
                                    <use href="~/assets/images/svg/symbol/sprite.svg#delivery-truck"></use>
                                </svg>
                            </div>
                            <div class="card-feature__body">
                                <p class="card-feature__desc">Доставка по Кишиневу и всей Молдове</p>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-12 col-sm-6 col-md-3">
                            <div class="card-feature">
                                <div class="card-feature__icon-wrap">
                                    <svg class="icon icon-secure-shield card-feature__icon">
                                        <use href="~/assets/images/svg/symbol/sprite.svg#secure-shield"></use>
                                    </svg>
                                </div>
                                <div class="card-feature__body">
                                    <p class="card-feature__desc">Гарантия правильного подбора<i class="card-feature__tooltip fas fa-info"><small class="card-feature__tooltip-body">Какая-то подсказка о гарантии правильного выбора</small></i></p>
                                </div>
                            </div>
                        </div>*@
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="card-feature">
                            <div class="card-feature__icon-wrap">
                                <svg class="icon icon-feature-support card-feature__icon">
                                    <use href="~/assets/images/svg/symbol/sprite.svg#feature-support"></use>
                                </svg>
                            </div>
                            <div class="card-feature__body">
                                <p class="card-feature__desc">Персональный консультант</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="primary-layout">
                <div class="tabs-section">
                    <div class="tabs">
                        <div class="tabs__header">
                            <ul class="tabs__list">
                                <li class="tabs__item"><a class="tabs__link is-active" href="#section-1" id="section-1">Аналоги и заменители</a></li>
                                <li class="tabs__item"><a class="tabs__link" href="#section-2" id="section-2">Спецификации</a></li>
                                <li class="tabs__item"><a class="tabs__link" href="#section-3">Применяемость</a></li>
                                <li class="tabs__item"><a class="tabs__link" href="#section-4">Описание</a></li>
                            </ul>
                        </div>
                        <div class="tabs__panes">
                            <div class="tabs__tab-pane is-active is-opened">
                                <div class="tabs__accordeon-toggle">Аналоги и заменители</div>
                                <div class="tabs__accordeon-body">
                                    <div class="analog-items">
                                        <div class="analog-item">
                                            <div class="product-line__promo">
                                                <div class="product-line__images"><a class="product-line__img-wrap" href="#"><img class="product-line__img img-responsive" src="~/assets/images/content/product-img-3.jpg" alt="Product Img"></a></div>
                                                <div class="product-line__info">
                                                    <div class="product-line__info-main">
                                                        <ul class="product-line__params">
                                                            <li class="product-line__params-param"><a href="#">Superoctan</a></li>
                                                            <li class="product-line__params-param">Арт. 54231</li>
                                                        </ul>
                                                        <div class="product-line__title"><a class="product-line__title-link" href="#">Mасло моторное 5W30 Helix HX8 ECT 1L</a></div>

                                                    </div>
                                                    <div class="product-line__info-prices">
                                                        <div class="product-line__price-current"><span class="product-line__price-heading">Цена</span><span class="product-line__price">3 127 лей</span></div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-line__details">
                                                <table class="product-line__details-table">
                                                    <tr>
                                                        <td>
                                                            <div class="product-line__stock-table-warehouse">Склад г. Кишинев</div>
                                                        </td>
                                                        <td>
                                                            <div class="product-line__stock-table-price">78 шт.</div>
                                                        </td>
                                                        <td>
                                                            <div class="product-line__stock-table-controls">
                                                                <div class="counter">
                                                                    <button class="counter__btn counter--remove">-</button>
                                                                    <input class="counter__field" type="tel" name="quantity" readonly value="1">
                                                                    <button class="counter__btn counter--add">+</button>
                                                                </div><a class="product-line__add btn btn--main" href="#" onclick="alert('Товар добавлен в корзину')">
                                                                    <svg class="icon icon-shopping-cart-filled product-line__add-icon">
                                                                        <use href="~/assets/images/svg/symbol/sprite.svg#shopping-cart-filled"></use>
                                                                    </svg>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tabs__tab-pane">
                                <div class="tabs__accordeon-toggle">Спецификации</div>
                                <div class="tabs__accordeon-body">
                                    <div class="manual-params manual-params--bigger">
                                        <dl class="manual-params__param">
                                            <dt class="manual-params__value">Класс вискозности SAE</dt>
                                            <dd class="manual-params__property">0W20</dd>
                                        </dl>
                                        <dl class="manual-params__param">
                                            <dt class="manual-params__value">Объем [л]</dt>
                                            <dd class="manual-params__property">60</dd>
                                        </dl>
                                        <dl class="manual-params__param manual-params__param--section">
                                            <dt class="manual-params__value"><b>Спецификация</b></dt>
                                            <dd class="manual-params__property">API SN</dd>
                                        </dl>
                                        <dl class="manual-params__param">
                                            <dt class="manual-params__value">Тип контейнера </dt>
                                            <dd class="manual-params__property">Barrel</dd>
                                        </dl>
                                        <dl class="manual-params__param">
                                            <dt class="manual-params__value">Рекомендации производителя масла </dt>
                                            <dd class="manual-params__property">Chrysler MS-6395</dd>
                                        </dl>
                                        <dl class="manual-params__param">
                                            <dt class="manual-params__value">Рекомендации производителя масла </dt>
                                            <dd class="manual-params__property">Daihatsu</dd>
                                        </dl>
                                        <dl class="manual-params__param">
                                            <dt class="manual-params__value">Рекомендации производителя масла</dt>
                                            <dd class="manual-params__property">Ford WSS-M2C 946-A</dd>
                                        </dl>
                                        <dl class="manual-params__param">
                                            <dt class="manual-params__value">Рекомендации производителя масла</dt>
                                            <dd class="manual-params__property">GM 6094 M</dd>
                                        </dl>
                                        <dl class="manual-params__param">
                                            <dt class="manual-params__value">Рекомендации производителя масла</dt>
                                            <dd class="manual-params__property">Honda</dd>
                                        </dl>
                                        <dl class="manual-params__param">
                                            <dt class="manual-params__value">Рекомендации производителя масла</dt>
                                            <dd class="manual-params__property">Hyundai</dd>
                                        </dl>
                                        <dl class="manual-params__param manual-params__param--section">
                                            <dt class="manual-params__value"><b>Спецификация</b></dt>
                                            <dd class="manual-params__property">ILSAC GF-5</dd>
                                        </dl>
                                        <dl class="manual-params__param">
                                            <dt class="manual-params__value">Рекомендации производителя масла</dt>
                                            <dd class="manual-params__property">Isuzu</dd>
                                        </dl>
                                        <dl class="manual-params__param">
                                            <dt class="manual-params__value">Рекомендации производителя масла</dt>
                                            <dd class="manual-params__property">Kia</dd>
                                        </dl>
                                        <dl class="manual-params__param">
                                            <dt class="manual-params__value">Рекомендации производителя масла</dt>
                                            <dd class="manual-params__property">Mazda</dd>
                                        </dl>
                                        <dl class="manual-params__param">
                                            <dt class="manual-params__value">Рекомендации производителя масла</dt>
                                            <dd class="manual-params__property">Mitsubishi Dia Queen</dd>
                                        </dl>
                                        <dl class="manual-params__param">
                                            <dt class="manual-params__value">Рекомендации производителя масла</dt>
                                            <dd class="manual-params__property">Nissan</dd>
                                        </dl>
                                        <dl class="manual-params__param">
                                            <dt class="manual-params__value">Рекомендации производителя масла</dt>
                                            <dd class="manual-params__property">Subaru</dd>
                                        </dl>
                                        <dl class="manual-params__param">
                                            <dt class="manual-params__value">Рекомендации производителя масла</dt>
                                            <dd class="manual-params__property">Suzuki</dd>
                                        </dl>
                                        <dl class="manual-params__param">
                                            <dt class="manual-params__value">Рекомендации производителя масла</dt>
                                            <dd class="manual-params__property">Toyota</dd>
                                        </dl>
                                        <dl class="manual-params__param">
                                            <dt class="manual-params__value">Тип контейнера</dt>
                                            <dd class="manual-params__property">Бочка</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="tabs__tab-pane">
                                <div class="tabs__accordeon-toggle">Применяемость</div>
                                <div class="tabs__accordeon-body">
                                    <div class="card-specification-section">
                                        <div class="table-responsive d-none d-md-block">
                                            <ul class="appropriate-cars">
                                                <li class="appropriate-cars__item"><a class="appropriate-cars__link" href="#">TOYOTA</a>,</li>
                                                <li class="appropriate-cars__item"><a class="appropriate-cars__link" href="#">LEXUS</a>,</li>
                                                <li class="appropriate-cars__item"><a class="appropriate-cars__link" href="#">DAIHATSU</a>,</li>
                                                <li class="appropriate-cars__item"><a class="appropriate-cars__link" href="#">VW</a>,</li>
                                                <li class="appropriate-cars__item"><a class="appropriate-cars__link" href="#">LOTUS</a>,</li>
                                                <li class="appropriate-cars__item"><a class="appropriate-cars__link" href="#">MINI</a></li>
                                            </ul>
                                            <table class="spec-table">
                                                <thead class="spec-table__thead">
                                                    <tr class="spec-table__tr">
                                                        <th class="spec-table__th">Объем двигателя</th>
                                                        <th class="spec-table__th text-center">Объем, см</th>
                                                        <th class="spec-table__th text-center">Год выпуска</th>
                                                        <th class="spec-table__th">Мощность, л.с. (kWt)</th>
                                                        <th class="spec-table__th">Тип кузова</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="spec-table__tbody">
                                                    <tr class="spec-table__tr">
                                                        <td class="spec-table__td" colspan="5">
                                                            <div class="spec-table__brand-heading"><a href="#">TOYOTA LAND CRUISER (_J15_)</a></div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tbody class="spec-table__tbody">
                                                    <tr class="spec-table__tr">
                                                        <td class="spec-table__td">
                                                            <div class="spec-table__title"><a class="spec-table__title-link" href="#">TOYOTA LAND CRUISER (_J15_) 3.0 D-4D (KDJ155_, KDJ150_)</a></div>
                                                        </td>
                                                        <td class="spec-table__td text-center">0</td>
                                                        <td class="spec-table__td"><span class="spec-table__amount">08.01.1979 - 04.01.1983</span></td>
                                                        <td class="spec-table__td"><span class="spec-table__amount">73</span></td>
                                                        <td class="spec-table__td"><span class="spec-table__instock">Вездеход закрытый</span></td>
                                                    </tr>
                                                    <tr class="spec-table__tr">
                                                        <td class="spec-table__td">
                                                            <div class="spec-table__title"><a class="spec-table__title-link" href="#">TOYOTA LAND CRUISER (_J15_) 3.0 D-4D (KDJ155_, KDJ150_)</a></div>
                                                        </td>
                                                        <td class="spec-table__td text-center">0</td>
                                                        <td class="spec-table__td"><span class="spec-table__amount">08.01.1979 - 04.01.1983</span></td>
                                                        <td class="spec-table__td"><span class="spec-table__amount">73</span></td>
                                                        <td class="spec-table__td"><span class="spec-table__instock">Вездеход закрытый</span></td>
                                                    </tr>
                                                </tbody>
                                                <tbody class="spec-table__tbody">
                                                    <tr class="spec-table__tr">
                                                        <td class="spec-table__td" colspan="5">
                                                            <div class="spec-table__brand-heading"><a href="#">TOYOTA LAND CRUISER (_J15_)</a></div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tbody class="spec-table__tbody">
                                                    <tr class="spec-table__tr">
                                                        <td class="spec-table__td">
                                                            <div class="spec-table__title"><a class="spec-table__title-link" href="#">TOYOTA LAND CRUISER (_J15_) 3.0 D-4D (KDJ155_, KDJ150_)</a></div>
                                                        </td>
                                                        <td class="spec-table__td text-center">0</td>
                                                        <td class="spec-table__td"><span class="spec-table__amount">08.01.1979 - 04.01.1983</span></td>
                                                        <td class="spec-table__td"><span class="spec-table__amount">73</span></td>
                                                        <td class="spec-table__td"><span class="spec-table__instock">Вездеход закрытый</span></td>
                                                    </tr>
                                                    <tr class="spec-table__tr">
                                                        <td class="spec-table__td">
                                                            <div class="spec-table__title"><a class="spec-table__title-link" href="#">TOYOTA LAND CRUISER (_J15_) 3.0 D-4D (KDJ155_, KDJ150_)</a></div>
                                                        </td>
                                                        <td class="spec-table__td text-center">0</td>
                                                        <td class="spec-table__td"><span class="spec-table__amount">08.01.1979 - 04.01.1983</span></td>
                                                        <td class="spec-table__td"><span class="spec-table__amount">73</span></td>
                                                        <td class="spec-table__td"><span class="spec-table__instock">Вездеход закрытый</span></td>
                                                    </tr>
                                                </tbody>
                                                <tbody class="spec-table__tbody">
                                                    <tr class="spec-table__tr">
                                                        <td class="spec-table__td" colspan="5">
                                                            <div class="spec-table__brand-heading"><a href="#">TOYOTA LAND CRUISER (_J15_)</a></div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tbody class="spec-table__tbody">
                                                    <tr class="spec-table__tr">
                                                        <td class="spec-table__td">
                                                            <div class="spec-table__title"><a class="spec-table__title-link" href="#">TOYOTA LAND CRUISER (_J15_) 3.0 D-4D (KDJ155_, KDJ150_)</a></div>
                                                        </td>
                                                        <td class="spec-table__td text-center">0</td>
                                                        <td class="spec-table__td"><span class="spec-table__amount">08.01.1979 - 04.01.1983</span></td>
                                                        <td class="spec-table__td"><span class="spec-table__amount">73</span></td>
                                                        <td class="spec-table__td"><span class="spec-table__instock">Вездеход закрытый</span></td>
                                                    </tr>
                                                    <tr class="spec-table__tr">
                                                        <td class="spec-table__td">
                                                            <div class="spec-table__title"><a class="spec-table__title-link" href="#">TOYOTA LAND CRUISER (_J15_) 3.0 D-4D (KDJ155_, KDJ150_)</a></div>
                                                        </td>
                                                        <td class="spec-table__td text-center">0</td>
                                                        <td class="spec-table__td"><span class="spec-table__amount">08.01.1979 - 04.01.1983</span></td>
                                                        <td class="spec-table__td"><span class="spec-table__amount">73</span></td>
                                                        <td class="spec-table__td"><span class="spec-table__instock">Вездеход закрытый</span></td>
                                                    </tr>
                                                </tbody>
                                                <tbody class="spec-table__tbody">
                                                    <tr class="spec-table__tr">
                                                        <td class="spec-table__td" colspan="5">
                                                            <div class="spec-table__brand-heading"><a href="#">TOYOTA LAND CRUISER (_J15_)</a></div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tbody class="spec-table__tbody">
                                                    <tr class="spec-table__tr">
                                                        <td class="spec-table__td">
                                                            <div class="spec-table__title"><a class="spec-table__title-link" href="#">TOYOTA LAND CRUISER (_J15_) 3.0 D-4D (KDJ155_, KDJ150_)</a></div>
                                                        </td>
                                                        <td class="spec-table__td text-center">0</td>
                                                        <td class="spec-table__td"><span class="spec-table__amount">08.01.1979 - 04.01.1983</span></td>
                                                        <td class="spec-table__td"><span class="spec-table__amount">73</span></td>
                                                        <td class="spec-table__td"><span class="spec-table__instock">Вездеход закрытый</span></td>
                                                    </tr>
                                                    <tr class="spec-table__tr">
                                                        <td class="spec-table__td">
                                                            <div class="spec-table__title"><a class="spec-table__title-link" href="#">TOYOTA LAND CRUISER (_J15_) 3.0 D-4D (KDJ155_, KDJ150_)</a></div>
                                                        </td>
                                                        <td class="spec-table__td text-center">0</td>
                                                        <td class="spec-table__td"><span class="spec-table__amount">08.01.1979 - 04.01.1983</span></td>
                                                        <td class="spec-table__td"><span class="spec-table__amount">73</span></td>
                                                        <td class="spec-table__td"><span class="spec-table__instock">Вездеход закрытый</span></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="spec d-md-none">
                                            <div class="spec__title"><a href="#">TOYOTA</a>, <a href="#">LEXUS</a>, <a href="#">DAIHATSU</a>, <a href="#">VW</a>, <a href="#">LOTUS</a>, <a href="#">MINI</a></div>
                                            <div class="spec__product is-open">
                                                <div class="spec__heading"><a href="#">TOYOTA LAND CRUISER (_J15_)</a></div>
                                                <div class="spec__main">
                                                    <div class="spec-table__main-prices">
                                                        <div class="spec-table__retail-price"><span>Объем двигателя</span> TOYOTA LAND CRUISER (_J15_) 3.0 D-4D (KDJ155_, KDJ150_)</div>
                                                        <div class="spec-table__main-price"><span>Объем, см</span> 0</div>
                                                        <div class="spec-table__main-price"><span>Год выпуска</span> 07.01.2009 - 01.01.0001</div>
                                                        <div class="spec-table__main-price"><span>Мощность, л.с. (kWt)</span> 190</div>
                                                        <div class="spec-table__main-price"><span>Тип кузова</span> вездеход закрытый</div>
                                                    </div>
                                                </div>
                                                <div class="spec__detail">
                                                    <dl class="spec__params">
                                                        <dt class="spec__property">Объем двигателя</dt>
                                                        <dd class="spec__value"><a class="spec__value-link" href="#">TOYOTA LAND CRUISER (_J15_) 3.0 D-4D (KDJ155_, KDJ150_)</a></dd>
                                                        <dt class="spec__property">Объем, см</dt>
                                                        <dd class="spec__value">0</dd>
                                                        <dt class="spec__property">Год выпуска</dt>
                                                        <dd class="spec__value">&gt; 07.01.2009 - 01.01.0001</dd>
                                                        <dt class="spec__property">Мощность, л.с. (kWt)</dt>
                                                        <dd class="spec__value">&gt; 190</dd>
                                                        <dt class="spec__property">Тип кузова</dt>
                                                        <dd class="spec__value">вездеход закрытый</dd>
                                                    </dl><a class="spec__params-more" href="#">Подробнаяя информация</a>
                                                </div>
                                            </div>
                                            <div class="spec__product">
                                                <div class="spec__heading"><a href="#">TOYOTA LAND CRUISER (_J15_)</a></div>
                                                <div class="spec__main">
                                                    <div class="spec-table__main-prices">
                                                        <div class="spec-table__retail-price"><span>Объем двигателя</span> TOYOTA LAND CRUISER (_J15_) 3.0 D-4D (KDJ155_, KDJ150_)</div>
                                                        <div class="spec-table__main-price"><span>Объем, см</span> 0</div>
                                                        <div class="spec-table__main-price"><span>Год выпуска</span> 07.01.2009 - 01.01.0001</div>
                                                        <div class="spec-table__main-price"><span>Мощность, л.с. (kWt)</span> 190</div>
                                                        <div class="spec-table__main-price"><span>Тип кузова</span> вездеход закрытый</div>
                                                    </div>
                                                </div>
                                                <div class="spec__detail">
                                                    <dl class="spec__params">
                                                        <dt class="spec__property">Объем двигателя</dt>
                                                        <dd class="spec__value"><a class="spec__value-link" href="#">TOYOTA LAND CRUISER (_J15_) 3.0 D-4D (KDJ155_, KDJ150_)</a></dd>
                                                        <dt class="spec__property">Объем, см</dt>
                                                        <dd class="spec__value">0</dd>
                                                        <dt class="spec__property">Год выпуска</dt>
                                                        <dd class="spec__value">&gt; 07.01.2009 - 01.01.0001</dd>
                                                        <dt class="spec__property">Мощность, л.с. (kWt)</dt>
                                                        <dd class="spec__value">&gt; 190</dd>
                                                        <dt class="spec__property">Тип кузова</dt>
                                                        <dd class="spec__value">вездеход закрытый</dd>
                                                    </dl><a class="spec__params-more" href="#">Подробнаяя информация</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tabs__tab-pane">
                                <div class="tabs__accordeon-toggle">Описание</div>
                                <p> Тут будет какой-то текст с подробным описанием товара с карточки.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
