<footer class="footer js-footer-collapse">
    <div class="container-fluid">
        <div class="footer__main">
            <div class="footer__main-col">
                <div class="footer-collapse">
                    <div class="footer-collapse__title">
                        О библиотеке
                        <svg class="icon icon-chevron-down footer-collapse__title-icon">
                            <use href="~/assets/images/svg/symbol/sprite.svg#chevron-down"></use>
                        </svg>
                    </div>
                    <div class="footer-collapse__body">
                        <nav class="footer-collapse_nav">
                            <ul class="footer-collapse__list">
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="@Url.Action("Vacation", "Informational")">Вакансии</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="@Url.Action("About_2", "Informational")">О нас</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="@Url.Action("News", "Informational")">Новости</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="@Url.Action("About_1", "Informational")">Миссия и ценности</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="footer__main-col">
                <div class="footer-collapse">
                    <div class="footer-collapse__title">
                        Помощь читателю
                        <svg class="icon icon-chevron-down footer-collapse__title-icon">
                            <use href="~/assets/images/svg/symbol/sprite.svg#chevron-down"></use>
                        </svg>
                    </div>
                    <div class="footer-collapse__body">
                        <nav class="footer-collapse_nav">
                            <ul class="footer-collapse__list">
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="@Url.Action("Faq", "Informational")">Частые вопросы</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="@Url.Action("Faq", "Informational")">Как пользоваться библиотекой</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="@Url.Action("ProfileUser", "Profile")">Личный кабинет</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="footer__main-col">
                <div class="footer-collapse">
                    <div class="footer-collapse__title">
                        Обслуживание читателей
                        <svg class="icon icon-chevron-down footer-collapse__title-icon">
                            <use href="~/assets/images/svg/symbol/sprite.svg#chevron-down"></use>
                        </svg>
                    </div>
                    <div class="footer-collapse__body">
                        <nav class="footer-collapse_nav">
                            <ul class="footer-collapse__list">
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="@Url.Action("Payment", "BasketPayment")">Продление книг</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link js-callback-popup-trigger" href="#">Связаться с нами</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="#">Бронирование книг</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="#">Электронный каталог</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="footer__main-col">
                <div class="footer-collapse">
                    <div class="footer-collapse__title">
                        Популярные разделы
                        <svg class="icon icon-chevron-down footer-collapse__title-icon">
                            <use href="~/assets/images/svg/symbol/sprite.svg#chevron-down"></use>
                        </svg>
                    </div>
                    <div class="footer-collapse__body">
                        <nav class="footer-collapse_nav">
                            <ul class="footer-collapse__list">
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="?search-field=роман&send-data=">Романы</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="?search-field=наука&send-data=">Научная литература</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="?search-field=детская&send-data=">Детская литература</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="?search-field=история&send-data=">Исторические книги</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="?search-field=искусство&send-data=">Искусство</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="@Url.Action("Catalog_brands", "CatalogSearch")">По авторам</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="@Url.Action("Select_car", "CatalogSearch")">По жанрам</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__conclude">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <div class="footer__socials">
                        <a href="@Url.Action("MainPage", "Home")"><div class="logo footer__logo"><div class="logo__text">Библиотека "Знание"</div></div></a>
                        <ul class="soc">
                            <li class="soc__item">
                                <a class="soc__link" href="#">
                                    <svg class="icon icon-twitter soc__icon">
                                        <use href="~/assets/images/svg/symbol/sprite.svg#twitter"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="soc__item">
                                <a class="soc__link" href="#">
                                    <svg class="icon icon-facebook-f soc__icon">
                                        <use href="~/assets/images/svg/symbol/sprite.svg#facebook-f"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="soc__item">
                                <a class="soc__link" href="#">
                                    <svg class="icon icon-instagram soc__icon">
                                        <use href="~/assets/images/svg/symbol/sprite.svg#instagram"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="worktime">
                        <div class="worktime__heading">График работы библиотеки</div>
                        <div class="worktime__desc">
                            <strong>с понедельника по пятницу</strong>: с 8:00 до 17:00, <br>
                            <strong>суббота</strong> с8:00 до 16:00, <strong>выходной - воскресенье</strong>.
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer__meta"><small class="copy">&copy; Biblioteca publică oraşenească "A.S.Puşkin" or. Vulcăneşti </small></div>
                </div>
            </div>
        </div>
    </div>
</footer>