<footer class="footer js-footer-collapse">
    <div class="container-fluid">
        <div class="footer__main">
            <div class="footer__main-col">
                <div class="footer-collapse">
                    <div class="footer-collapse__title">
                        О компании
                        <svg class="icon icon-chevron-down footer-collapse__title-icon">
                            <use href="~/assets/images/svg/symbol/sprite.svg#chevron-down"></use>
                        </svg>
                    </div>
                    <div class="footer-collapse__body">
                        <nav class="footer-collapse_nav">
                            <ul class="footer-collapse__list">
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="@Url.Action("Vacation", "Informational")">Работа и карьера</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="@Url.Action("About_2", "Informational")">О нас</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="@Url.Action("News", "Informational")">Новости </a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="@Url.Action("About_1", "Informational")">Миссия и философия </a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="footer__main-col">
                <div class="footer-collapse">
                    <div class="footer-collapse__title">
                        Помощь и поддержка
                        <svg class="icon icon-chevron-down footer-collapse__title-icon">
                            <use href="~/assets/images/svg/symbol/sprite.svg#chevron-down"></use>
                        </svg>
                    </div>
                    <div class="footer-collapse__body">
                        <nav class="footer-collapse_nav">
                            <ul class="footer-collapse__list">
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="@Url.Action("Faq", "Informational")">Частые вопросы</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="@Url.Action("Faq", "Informational")">Как пользоваться сайтом</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="@Url.Action("ProfileUser", "Profile")">Персональный кабинет</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="footer__main-col">
                <div class="footer-collapse">
                    <div class="footer-collapse__title">
                        Обслуживание клиентов
                        <svg class="icon icon-chevron-down footer-collapse__title-icon">
                            <use href="~/assets/images/svg/symbol/sprite.svg#chevron-down"></use>
                        </svg>
                    </div>
                    <div class="footer-collapse__body">
                        <nav class="footer-collapse_nav">
                            <ul class="footer-collapse__list">
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="@Url.Action("Payment", "BasketPayment")">Оплата</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link js-callback-popup-trigger" href="#">Связаться с нами</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="#">Возврат</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="#">Обменять товар</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="footer__main-col">
                <div class="footer-collapse">
                    <div class="footer-collapse__title">
                        Наши предложения
                        <svg class="icon icon-chevron-down footer-collapse__title-icon">
                            <use href="~/assets/images/svg/symbol/sprite.svg#chevron-down"></use>
                        </svg>
                    </div>
                    <div class="footer-collapse__body">
                        <nav class="footer-collapse_nav">
                            <ul class="footer-collapse__list">
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="?search-field=освещение&send-data=">Освещение</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="?search-field=амортизаторы&send-data=">Амортизаторы</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="?search-field=комплект+сцепления&send-data=">Комплект сцепления</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="?search-field=колесные+подшипники&send-data=">Колесные подшипники</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="?search-field=уход+за+автомобилем&send-data=">Уход за автомобилем</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="@Url.Action("Catalog_brands", "CatalogSearch")">Купить по производителю</a></li>
                                <li class="footer-collapse__item"><a class="footer-collapse__link" href="@Url.Action("Select_car", "CatalogSearch")">Купить по модели</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__conclude">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <div class="footer__socials">
                        <a href="@Url.Action("MainPage", "Home")"><div class="logo footer__logo"><span class="logo__wrap"><img class="logo__img img-responsive" src="~/assets/images/general/footer-logo.png" alt="Motex" width="110" height="45"></span></div></a>
                        <ul class="soc">
                            <li class="soc__item">
                                <a class="soc__link" href="#">
                                    <svg class="icon icon-twitter soc__icon">
                                        <use href="~/assets/images/svg/symbol/sprite.svg#twitter"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="soc__item">
                                <a class="soc__link" href="#">
                                    <svg class="icon icon-facebook-f soc__icon">
                                        <use href="~/assets/images/svg/symbol/sprite.svg#facebook-f"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="soc__item">
                                <a class="soc__link" href="#">
                                    <svg class="icon icon-instagram soc__icon">
                                        <use href="~/assets/images/svg/symbol/sprite.svg#instagram"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="worktime">
                        <div class="worktime__heading">График работы службы поддержки клиентов</div>
                        <div class="worktime__desc">
                            <strong>с понедельника по пятницу</strong>: с 8:00 до 22:00, <br>
                            <strong>суббота</strong> с 8:00 до 16:00, <strong>выходной - воскресенье</strong>.
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer__meta"><small class="copy">&copy; 2025 www.autowares.md интернет магазин </small></div>
                </div>
            </div>
        </div>
    </div>
</footer>