@{
    var role = HttpContext.Current.Session["User"] is WebShop.Domain.User.Admin.UserInfo user && user.Role != null
    ? user.Role
    : string.Empty;
    var isAdmin = role == "Admin" ? true : false;
    var isBanned = role == "Banned" ? true : false;
    var name = HttpContext.Current.Session["User"] is WebShop.Domain.User.Admin.UserInfo u && u.UserName != null
    ? u.UserName : string.Empty;
    object value = HttpContext.Current.Session["BasketCount"];
    int basketCount = value != null ? Convert.ToInt32(value) : 0;

}

<header class="header">
    <div class="header-top-area">
        <div class="container-fluid">
            <div class="header-top-area-main">

                <button class="navigation-trigger js-dropdown-toggle d-md-none">
                    <svg class="icon icon-menu-dots navigation-trigger__icon">
                        <use href="~/assets/images/svg/symbol/sprite.svg#menu-dots"></use>
                    </svg>
                </button>
                <div class="header__informers d-none d-md-flex">
                    <div class="header__informer">Кишинев, улица Studenților 9/9, <br> торгово-складской комплекс №1.</div>
                    <div class="header__informer">График работы: <br> 8.00 - 19.00 понедельник - суббота</div>
                </div>
                @if (isBanned)
                {
                    <div class="alert alert-danger" role="alert" style="color:red">
                        Ваш аккаунт заблокирован! Обратитесь к администратору для разблокировки, иначе вы не сможете полноценно пользоваться нашими услугами.
                    </div>
                }
                <div class="tiny-contacts">
                    <a class="tiny-contacts__wrap" href="tel:+37379637411">
                        <svg class="icon icon-phone-call tiny-contacts__icon">
                            <use href="~/assets/images/svg/symbol/sprite.svg#phone-call"></use>
                        </svg><span class="tiny-contacts__phone">+373 79-637-411</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="header-main">
        <div class="container-fluid">
            <div class="header-main__body">
                <div class="logo">
                    <a href="@Url.Action("MainPage", "Home")" class="logo__wrap">
                        <img class="logo__img img-responsive" src="~/assets/images/general/logo.png" alt="AutoWares" width="155" height="60" />
                    </a>
                </div>
                <nav class="section-nav d-none d-md-block">
                    <ul class="section-nav__list">
                        <li class="section-nav__item"><a class="section-nav__link" href="@Url.Action("Search_result", "CatalogSearch", new {Result_SearchString = "bonus"})"><span class="section-nav__text">Акции</span></a></li>
                        <li class="section-nav__item"><a class="section-nav__link" href="@Url.Action("Payment", "BasketPayment")"><span class="section-nav__text">Оплата </span></a></li>
                        @if (isAdmin)
                        {
                            <li class="section-nav__item"><a class="section-nav__link" href="@Url.Action("Clients", "Admin")"><span class="section-nav__text">Админ Панель</span></a></li>
                        }
                        <li class="section-nav__item"><a class="section-nav__link" href="@Url.Action("ViewNews", "Informational")"><span class="section-nav__text">Новости</span></a></li>
                        <li class="section-nav__item"><a class="section-nav__link" href="@Url.Action("Sto", "OtherServices")"><span class="section-nav__text">СТО</span></a></li>
                        <li class="section-nav__item"><a class="section-nav__link" href="@Url.Action("ProfileUser", "Profile")"><span class="section-nav__text">Профиль</span></a></li>
                    </ul>
                </nav>
                @if (HttpContext.Current.Session["User"] == null)
                {
                    <div class="authorize">
                        <ul class="authorize__list">
                            <li class="authorize__item">
                                <a class="authorize__link authorize__link--login" href="@Url.Action("Authorisation", "Auth")">
                                    <svg class="icon icon-login authorize__icon">
                                        <use href="~/assets/images/svg/symbol/sprite.svg#login"></use>
                                    </svg> Вход
                                </a>
                            </li>
                            <li class="authorize__item"><a class="authorize__link authorize__link--register" href="@Url.Action("Registration", "Auth")">Регистрация</a></li>
                        </ul>


                        <div class="authorize__dropdown">
                            <div class="authorize__dropdown-body">
                                @if (HttpContext.Current.Session["User"] == null)
                                {
                                    @Html.ValidationSummary(true)
                                    using (Html.BeginForm("TryToLogIn", "Auth", FormMethod.Post, new { @id = "LoginForm", @class = "auth-form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="auth-form__field">
                                            <input class="auth-form__input" type="email" name="Email" placeholder="E-mail">
                                        </div>
                                        <div class="auth-form__field">
                                            <input class="auth-form__input" type="password" name="Password" placeholder="Пароль">
                                        </div>
                                        <div class="auth-form__field">
                                            @*<div class="auth-form__checkbox checkbox-label">
                                                <input class="checkbox-label__input" type="checkbox" name="is-remember" id="remember">
                                                <label class="checkbox-label__main" for="remember">Запомнить</label>
                                            </div>*@
                                            <input class="auth-form__btn btn btn--main" name="send-data" type="submit" value="Войти">
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }
                else
                {

                    <a class="auth-form__btn btn btn--main" name="log-out" href="@Url.Action("LogOut", "Auth")">
                        <div class="logged-in__username">@name</div>
                        Выйти
                    </a>
                }
            </div>
        </div>
    </div>
    <div class="header-meta-area">
        <div class="container-fluid">
            <div class="header-meta-area__body">
                <div class="logo">
                    <a href="@Url.Action("MainPage", "Home")"><span class="logo__wrap"><img class="logo__img img-responsive" src="~/assets/images/general/logo.png" alt="AutoWares" width="155" height="60" /></span></a>
                </div>
                <button class="catalog-nav-toggle d-md-none">
                    <svg class="icon icon-burger catalog-nav-toggle__icon">
                        <use href="~/assets/images/svg/symbol/sprite.svg#burger"></use>
                    </svg>Каталог
                </button>
                <nav class="main-nav">
                    <ul class="main-nav__point-container">
                        <li class="main-nav__point-item">
                            <a class="main-nav__point-link" href="/CatalogSearch/Catalog">
                                <svg class="icon icon-burger main-nav__icon">
                                    <use href="/assets/images/svg/symbol/sprite.svg#burger"></use>
                                </svg>Каталог товаров
                                <div class="main-nav__close-nav-wrap">
                                    <svg class="icon icon-close main-nav__close-nav">
                                        <use href="/assets/images/svg/symbol/sprite.svg#close"></use>
                                    </svg>
                                </div>
                            </a>                            <ul class="main-nav__container">
                                <li class="main-nav__item">
                                    <span class="main-nav__link">Масла и смазки</span>
                                    <ul class="main-nav__sub-container">
                                        <li class="main-nav__sub-item">
                                            <a class="main-nav__sub-link"
                                               href="@Url.Action("Search_result", "CatalogSearch", new {
                                   Path_Category = "Масла и смазки",
                                   Path_Subcategory = "Моторное масло",
                                   Result_SearchString = ""
                               })">
                                                Моторное масло
                                            </a>
                                        </li>
                                        <li class="main-nav__sub-item">
                                            <a class="main-nav__sub-link"
                                               href="@Url.Action("Search_result", "CatalogSearch", new {
                                   Path_Category = "Масла и смазки",
                                   Path_Subcategory = "Трансмиссионная жидкость",
                                   Result_SearchString = ""
                               })">
                                                Трансмиссионная жидкость
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="main-nav__item">
                                    <span class="main-nav__link">Автохимия</span>
                                    <ul class="main-nav__sub-container">
                                        <li class="main-nav__sub-item">
                                            <a class="main-nav__sub-link"
                                               href="@Url.Action("Search_result", "CatalogSearch", new {
                                   Path_Category = "Автохимия",
                                   Path_Subcategory = "Очистители инжектора",
                                   Result_SearchString = ""
                               })">
                                                Очистители инжектора
                                            </a>
                                        </li>
                                        <li class="main-nav__sub-item">
                                            <a class="main-nav__sub-link"
                                               href="@Url.Action("Search_result", "CatalogSearch", new {
                                   Path_Category = "Автохимия",
                                   Path_Subcategory = "Присадки к дизтопливу",
                                   Result_SearchString = ""
                               })">
                                                Присадки к дизтопливу
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <button class="search-form-toggle">
                    <svg class="icon icon-search search-form-toggle__icon">
                        <use href="~/assets/images/svg/symbol/sprite.svg#search"></use>
                    </svg>
                </button>
                <form class="search-form" method="GET" action="@Url.Action("SearchMethod", "CatalogSearch")" name="search-form">
                    <div class="search-form__field search-form__field--choices">
                        <select class="js-select-default" name="searchType">
                            <option value="article">Поиск по артикулу</option>
                            <option value="name">Поиск по названию</option>
                            @*<option value="number">По номеру детали</option>*@
                        </select>
                    </div>
                    <div class="search-form__field search-form__field--input">
                        <input class="search-form__input"  type="search" name="value" placeholder="Артикул детали. Например “gbl199”">
                        <button class="search-form__submit" type="submit" @*name="send-data"*@>
                            <svg class="icon icon-magnifying-zoom-glass search-form__submit-icon">
                                <use href="~/assets/images/svg/symbol/sprite.svg#magnifying-zoom-glass"></use>
                            </svg>
                        </button>
                    </div>
                </form>
                <div class="header__meta-link">
                    <a class="brand-catalogs header-meta-area__brand-catalogs" href="@Url.Action("Select_car", "CatalogSearch")">
                        <svg class="icon icon-warehouse brand-catalogs__icon">
                            <use href="~/assets/images/svg/symbol/sprite.svg#warehouse"></use>
                        </svg><span class="brand-catalogs__title">Гараж</span>
                    </a>
                </div>
                <div class="header-utilities">

                    <div class="header-utility">
                        <div class="header-utility__main">
                            <a class="header-utility__link" href="@Url.Action("Basket_step_1", "BasketPayment")">
                                <svg class="icon icon-shopping-cart-main header-utility__icon">
                                    <use href="~/assets/images/svg/symbol/sprite.svg#shopping-cart-main"></use>
                                </svg><span class="header-utility__count">(@basketCount)</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>