@using System.Web.Optimization
<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="utf-8">
    <title>Header | @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&amp;display=swap" rel="stylesheet">
    @Styles.Render("~/assets/css/all")
    @RenderSection("Styles", false)

</head>
<body class="index-page">

    @Html.Partial("_Header")

    @RenderBody()

    @Html.Partial("_Footer")

    <script src="https://unpkg.com/popper.js@1"></script>
    <script src="https://unpkg.com/tippy.js@5"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/assets/js/all")
    @RenderSection("Scripts", required: false)
</body>
</html>
