@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var role = HttpContext.Current.Session["User"] is WebShop.Domain.User.Admin.UserInfo user && user.Role != null
        ? user.Role
        : string.Empty;
    var isAdmin = role == "Admin" ? true : false;
}

@section Styles {
    @RenderSection("Styles", false)
}
<div class="container-fluid">

    <div class="primary-layout">
        <div class="primary-content">
            <div class="sidebar">
                <div class="category-nav d-none d-md-block">
                    <ul class="category-nav__list">
                        @if (isAdmin)
                        {
                            <li class="category-nav__item"><a class="category-nav__link" href="@Url.Action("Clients", "Admin")">Управление пользователями</a></li>
                            <li class="category-nav__item"><a class="category-nav__link" href="@Url.Action("AddUser", "Admin")">Регистрация пользователей</a></li>
                            <li class="category-nav__item"><a class="category-nav__link" href="@Url.Action("Products", "Admin")">Управление товарами</a></li>
                        }
                        <li class="category-nav__item active"><a class="category-nav__link" href="@Url.Action("Basket_step_1", "BasketPayment")">Корзина</a></li>
                        <li class="category-nav__item"><a class="category-nav__link" href="@Url.Action("Orders", "Profile")">Заказы</a></li>
                        <li class="category-nav__item"><a class="category-nav__link" href="@Url.Action("Payment", "BasketPayment")">Оплата</a></li>
                        <li class="category-nav__item"><a class="category-nav__link" href="@Url.Action("ProfileUser", "Profile")">Профиль</a></li>
                        <li class="category-nav__item"><a class="category-nav__link" href="@Url.Action("Search_result", "CatalogSearch", new {Result_SearchString = "bonus"})">Акции</a></li>

                    </ul>
                </div>
            </div>
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
