
@{
    ViewBag.Title = "Authorisation";
}
@model WebShop.Models.UserLoginModel
<div class="inner-section">
    <div class="inner-section__main">
        <div class="inner-section__header">
            <h1 class="inner-section__heading">Авторизация</h1><a class="inner-section__link" href="@Url.Action("Registration","Auth")">Регистрация</a>
        </div>
        <div class="inner-section__body">
            @Html.ValidationSummary(true)
            @using (Html.BeginForm("TryToLogIn", "Auth", FormMethod.Post, new { @id = "LoginForm", @class = "main-form" }))
            {
                @Html.AntiForgeryToken()
                <div class="main-form__field">
                    @Html.LabelFor(m => m.Email, "Email", new { @class = "main-form__label" })
                    @Html.TextBoxFor(m => m.Email, new
               {
                   placeholder = "example@gmail.com",
                   title = "Введите свой Email",
                   value = "",
                   @class = "main-form__input"
               })
                </div>
                <div class="main-form__field">
                    @Html.LabelFor(m => m.Password, "Пароль", new { @class = "main-form__label" })
                    @Html.TextBoxFor(m => m.Password, new
               {
                   type = "password",
                   title = "Введите пароль тут",
                   placeholder = "****",
                   value = "",
                   @class = "main-form__input",
               })
                </div>
                <div class="main-form__field main-form__field--flex">
                    <div class="main-form__checkbox checkbox-label">
                        <input class="checkbox-label__input" type="checkbox" name="is-remember" id="remember-psw">
                        <label class="checkbox-label__main" for="remember-psw">Запомнить</label>
                    </div><a class="main-form__recover-psw" href="#">Забыли пароль</a>
                </div>
                <div class="main-form__footer text-center">
                    <input class="main-form__btn btn btn--main btn--upper" type="submit" value="Войти">
                </div>
            }
        </div>
    </div>
</div>

