@{
    ViewBag.Title = "Registration";
}

@model WebShop.Models.UserRegisterModel

<div class="inner-section">
    <div class="inner-section__main inner-section__main--wider">
        @if (TempData["Message"] != null)
        {

            <div class="alert alert-success" role="alert" style="color:red">
                @TempData["Message"]
            </div>
        }
        <div class="inner-section__header">
            <h1 class="inner-section__heading">Регистрация</h1><a class="inner-section__link" href="@Url.Action("Authorisation","Auth")">Вход в систему</a>
        </div>
        <div class="inner-section__body inner-section__body--no-gutters">
            <div class="reg-form-wrap">
                @Html.ValidationSummary(true)
                @Html.ValidationMessageFor(m => m.Password)
                @using (Html.BeginForm("RegisterNewUser", "Auth", FormMethod.Post, new { @id = "LoginForm", @class = "main-form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="main-form__field">
                                @Html.LabelFor(m => m.UserName, "Ваше имя", new { @class = "main-form__label" })
                                @Html.TextBoxFor(m => m.UserName, new
                                    {
                                        title = "Введите ваше имя",
                                        value = "",
                                        @class = "main-form__input"
                                    })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="main-form__field">
                                @Html.LabelFor(m => m.UserLastName, "Фамилия", new { @class = "main-form__label" })
                                @Html.TextBoxFor(m => m.UserLastName, new
                                    {
                                        title = "Введите ваше имя",
                                        value = "",
                                        @class = "main-form__input"
                                    })
                            </div>
                        </div>
                    </div>
                    <div class="main-form__field">
                        @Html.LabelFor(m => m.Email, "Email", new { @class = "main-form__label" })
                        @Html.TextBoxFor(m => m.Email, new
                   {
                       type = "email",
                       placeholder = "example@gmail.com",
                       title = "Email (используется как логин)",
                       value = "",
                       @class = "main-form__input"
                   })
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="main-form__field">
                                @Html.LabelFor(m => m.Password, "Пароль", new { @class = "main-form__label" })
                                @Html.TextBoxFor(m => m.Password, new
                           {
                               type = "password",
                               placeholder = "****",
                               title = "Введите пароль",
                               value = "",
                               @class = "main-form__input"
                           })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="main-form__field">
                                @Html.LabelFor(m => m.RePassword, "Пароль ещё раз", new { @class = "main-form__label" })
                                @Html.TextBoxFor(m => m.RePassword, new
                           {
                               type = "password",
                               placeholder = "****",
                               title = "Введите пароль ещё раз",
                               value = "",
                               @class = "main-form__input"
                           })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="main-form__field">
                                @Html.LabelFor(m => m.PhoneNumber, "Телефон мобильный", new { @class = "main-form__label" })
                                @Html.TextBoxFor(m => m.PhoneNumber, new
                           {
                               type = "tel",
                               placeholder = "+373",
                               title = "Телефон мобильный",
                               value = "",
                               @class = "main-form__input"
                           })
                            </div>
                        </div>
                    </div>
                    <div class="main-form__footer">
                        <div class="main-form__field">
                            <div class="checkbox-label">
                                <input class="checkbox-label__input" type="checkbox" name="is-privacy" id="privacy">
                                <label class="checkbox-label__main" for="privacy">Я ознакомлен и принимаю условия пользовательского соглашения, договора публичной оферты и регламента гарантии / <a href="https://www.iubenda.com/en/help/2859-terms-and-conditions-when-are-they-needed">Подробнее</a></label>
                            </div>
                        </div>
                    </div>
                    <div class="main-form__field main-form__field--flex">
                        <input class="main-form__btn btn btn--main" type="submit" name="send-data" value="Зарегистрироваться">
                    </div>
                }
            </div>
        </div>
    </div>
</div>

