@model List<WebShop.Models.Order.OrderModel>

@{
    Layout = "~/Views/Shared/_PersonalLayout.cshtml";
    ViewBag.Title = "Orders";
}

<main class="main-content">
    <div class="table-responsive">
        <table class="orders-table">
            <thead class="orders-table__thead">
                <tr class="orders-table__tr">
                    <th class="orders-table__th">Номер / Дата</th>
                    <th class="orders-table__th">Получение</th>
                    <th class="orders-table__th">Сумма Леев</th>
                    <th class="orders-table__th">Дата доставки</th>
                    <th class="orders-table__th" colspan="3">Статус</th>
                </tr>
            </thead>
            <tbody class="orders-table__tbody">
                @foreach (var order in Model)
                {
                    <tr class="orders-table__tr">
                        <td class="orders-table__td">
                            <a class="orders-table__order-id" href="#">@order.OrderId</a>
                            <span class="orders-table__order-date">@order.Created.ToString("dd MMMM yyyy")</span>
                        </td>
                        <td class="orders-table__td">
                            <div class="orders-table__stock-heading">@order.DeliveryType</div>
                            <div class="orders-table__stock-location">@order.DeliveryCity</div>
                        </td>
                        <td class="orders-table__td">
                            <strong class="orders-table__order-price">@order.Price.ToString("N2")</strong>
                        </td>
                        <td class="orders-table__td">
                            @order.EstimatedDeliveryDate.ToString("dd MMMM yyyy")
                        </td>
                        <td class="orders-table__td">
                            <span class="orders-table__delivery-status @(order.OrderStatus == WebShop.Domain.Enumerables.OrderStatus.Delivered ? "orders-table__delivery-status--delivered" : "orders-table__delivery-status--process")">
                                @order.OrderStatus.ToString()
                            </span>
                        </td>
                        <td class="orders-table__td">
                            <span class="orders-table__payment-status @(order.isPaid ? "orders-table__payment-status--success" : "orders-table__payment-status--warning")">
                                @(order.isPaid ? "Оплачен" : "Нет оплаты")
                            </span>
                        </td>
                        <td class="orders-table__td">
                            <div class="orders-table__delivery-location">в @order.DeliveryCity</div>
                            <a class="orders-table__delivery-more" href="#">Инфо</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>
