@{
    Layout = "~/Views/Shared/_PersonalLayout.cshtml";
    ViewBag.Title = "Profile";
}
@model WebShop.Domain.User.Admin.UserInfo

<main class="main-content">
    @if (TempData["Message"] != null)
    {

        <div class="alert alert-success" role="alert" style="color:red">
            @TempData["Message"]
        </div>
    }
    <h1 class="main-title">Профиль</h1>
    <form action="/Profile/SaveProfile" method="POST" name="profile-form">
        <div class="section-area">
            <div class="section-area__heading">Личные данные</div>
            <div class="manual-params manual-params--bigger" id="view-mode">
                <dl class="manual-params__param">
                    <dt class="manual-params__value">Ваша Фамилия</dt>
                    <dd class="manual-params__property">@Model.UserLastName</dd>
                </dl>
                <dl class="manual-params__param">
                    <dt class="manual-params__value">Ваше Имя</dt>
                    <dd class="manual-params__property">@Model.UserName</dd>
                </dl>
                <dl class="manual-params__param">
                    <dt class="manual-params__value">Email (используется как логин)</dt>
                    <dd class="manual-params__property">@Model.Email</dd>
                </dl>
                <dl class="manual-params__param">
                    <dt class="manual-params__value">Телефон</dt>
                    <dd class="manual-params__property">@Model.PhoneNumber</dd>
                </dl>
                <a class="manual-params__edit" href="javascript:void(0);" onclick="toggleEditMode()">
                    <svg class="icon icon-pen manual-params__edit-icon">
                        <use href="~/assets/images/svg/symbol/sprite.svg#pen"></use>
                    </svg>Редактировать
                </a>
            </div>

            <div class="manual-params manual-params--bigger" id="edit-mode" style="display: none;">
                <div class="section-area__field">
                    <label>Ваша Фамилия</label>
                    <input type="text" name="UserLastName" value="@Model.UserLastName" class="section-area__input">
                </div>
                <div class="section-area__field">
                    <label>Ваше Имя</label>
                    <input type="text" name="UserName" value="@Model.UserName" class="section-area__input">
                </div>
                <div class="section-area__field">
                    <label>Email</label>
                    <input type="email" name="Email" value="@Model.Email" class="section-area__input">
                </div>
                <div class="section-area__field">
                    <label>Телефон</label>
                    <input type="tel" name="PhoneNumber" value="@Model.PhoneNumber" class="section-area__input">
                </div>
                <button type="submit" class="btn btn--main">Сохранить изменения</button>
                <a class="btn btn--secondary" href="javascript:void(0);" onclick="toggleEditMode()">Отмена</a>
            </div>
        </div>
        <input type="hidden" name="Id" value="@Model.Id" />
    </form>

    <form action="/Profile/ChangePassword" method="POST" name="change-password-form">
        <div class="section-area">
            <div class="section-area__heading">Изменить пароль</div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="section-area__field">
                        <label>Текущий пароль <span>*</span></label>
                        <input class="section-area__input" type="password" name="OldPassword">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="section-area__field">
                        <label>Новый пароль <span>*</span></label>
                        <input class="section-area__input" type="password" name="NewPassword">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="section-area__field">
                        <label>Новый пароль еще раз <span>*</span></label>
                        <input class="section-area__input" type="password" name="ConfirmPassword">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn--main">Сохранить изменения пароля</button>
        </div>
    </form>
</main>

<script>
    function toggleEditMode() {
        var viewMode = document.getElementById("view-mode");
        var editMode = document.getElementById("edit-mode");

        if (editMode.style.display === "none") {
            editMode.style.display = "block";
            viewMode.style.display = "none";
        } else {
            editMode.style.display = "none";
            viewMode.style.display = "block";
        }
    }
</script>
